
@{
    ViewData["Title"] = "RestUserPassowrd";
}

<h1>Rest User Passowrd</h1>

<form asp-action="RestUserPassword">

    <label class="mb-3 mt-3">New Password</label>
    <input type="password" class="form-control" name="newPassword"/>

    <input type="submit" value="Rest" class="btn btn-outline-success btn-lg mt-5"/>
</form>
